<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
         <li><a href="/">Inicio</li>
         <li><a href="RecetasDulces"></a></li>
        <li><a href="RecetasSaladas"></a></li>
        <li><a href="Foro"></a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
